<h1><%= t '.title' %></h1>

<table class="table mb-4">
  <tbody>
    <tr>
      <th><%= Book.human_attribute_name(:title) %></th>
      <td><%= @book.title %></td>
    </tr>

    <tr>
      <th><%= Book.human_attribute_name(:memo) %></th>
      <td><%= simple_format h @book.memo %></td>
    </tr>

    <tr>
      <th><%= Book.human_attribute_name(:author) %></th>
      <td><%= @book.author %></td>
    </tr>

    <tr>
      <th><%= Book.human_attribute_name(:picture) %></th>
      <td><%= image_tag @book.picture.variant(resize_to_fit: [300, 300]) if @book.picture.attached? %></td>
    </tr>
  </tbody>
</table>

<% if current_user == @book.user %>
  <%= link_to t('dictionary.button.edit'), edit_book_path(@book) %> |
<% end %>
<%= link_to t('dictionary.button.back'), user_books_path(@book.user) %>
